[user]
	email = forgoty13@gmail.com
	name = Nikita Alkhovik
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
	rebase = false

[alias]
	skipped = !git ls-files -v | grep --color "^S"
[credential]
	helper = cache --timeout=3600
