[submodule ".config/emacs-conf"]
	path = .config/emacs-conf
	url = https://github.com/forgoty/emacs-conf.git
[submodule ".local/src/st"]
	path = .local/src/st
	url = https://github.com/forgoty/st.git
[submodule ".local/src/dmenu"]
	path = .local/src/dmenu
	url = https://github.com/lukesmithxyz/dmenu.git
[submodule ".local/src/dwm"]
	path = .local/src/dwm
	url = https://github.com/forgoty/dwm.git
[submodule ".local/src/dwmblocks"]
	path = .local/src/dwmblocks
	url = https://github.com/LukeSmithxyz/dwmblocks.git
