[submodule ".config/emacs-conf"]
	path = .config/emacs-conf
	url = git@github.com:forgoty/emacs-conf.git
[submodule ".local/src/st"]
	path = .local/src/st
	url = git@github.com:forgoty/st.git
[submodule ".local/src/dmenu"]
	path = .local/src/dmenu
	url = git@github.com:lukesmithxyz/dmenu.git
[submodule ".local/src/dwm"]
	path = .local/src/dwm
	url = git@github.com:forgoty/dwm.git
[submodule ".local/src/dwmblocks"]
	path = .local/src/dwmblocks
	url = git@github.com:LukeSmithxyz/dwmblocks.git
